<main class="main">

    <div id="row-1">
        <h1>Secondary Link</h1>
        <p>Take Home Assignment</p>
        <h3>Objective:</h3>
        <p>
            Build an application to handle CRUD of JSON data
        </p>
        <h3>Requirement:</h3>        
    </div>

    <div id="row-2">
        <div class="content">
            <div class="left-side">
                <h2> Front End:</h2>
                <p>Create at least 3 views</p>
                <ul>
                    <li>
                        <h3>Data Table View: </h3>
                        <div>
                            Show all the data in the <pre style="display: inline; background-color: azure;">backend/data/funds_data.json</pre> in a table
                        </div>
                    </li>
                    <li>
                        <h3>User Facing View:</h3>
                        <div>
                            Show the details of the data in a neat and orderly fashion
                        </div>
                    </li>
                    <li>
                        <h3>Admin Edit View : </h3>
                        <div>
                            Interface where the user can edit these values and save back into the JSON file
                            <p style="font-weight: bold;">Note: do auto save whenever the user makes changes </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="divider" role="separator" aria-label="Divider"></div>
            <div class="right-side">
                <h2>Back End:</h2>
                <p>Create at least 3 APIs </p>
                <ul>
                    <li>
                        <h3>Get all items (For Data Table View) </h3>
                        <div>
                            Retrieve all data in the <pre style="display: inline; background-color: azure;">backend/data/funds_data.json</pre> file.
                        </div>                        
                    </li>
                    <li>
                        <h3>Get single item (For User Facing View)</h3>
                        <div>
                            Retrieve single item in the <pre style="display: inline; background-color: azure;">backend/data/funds_data.json</pre> file.
                        </div>
                    </li>
                    <li>
                        <h3>Update item (For Admin Edit View)</h3>
                        <div>
                            Update data in the <pre style="display: inline; background-color: azure;">backend/data/funds_data.json</pre> file.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>